<nav class="navbar navbar-expand-lg navbar-dark bg-secondary sticky-top">
  <div class="container">
    <a class="navbar-brand fw-bold text-warning" href="#">
      <i class="bi bi-houses"></i>&nbsp;Inmobiliaria
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="comprarDropdown" 
             role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-house-door me-1"></i>Comprar
          </a>
          <ul class="dropdown-menu" aria-labelledby="comprarDropdown">
            <li><a class="dropdown-item" href="#">Casas</a></li>
            <li><a class="dropdown-item" href="#">Departamentos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="alquilarDropdown" 
             role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-cash-stack me-1"></i>Alquilar
          </a>
          <ul class="dropdown-menu" aria-labelledby="alquilarDropdown">
            <li><a class="dropdown-item" href="#">Residencial</a></li>
            <li><a class="dropdown-item" href="#">Comercial</a></li>
            <li><a class="dropdown-item" href="#">Vacacional</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="bi bi-collection me-1"></i>Propiedades
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="bi bi-people me-1"></i>Agentes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-outline-light ms-2 px-3" href="#">
            <i class="bi bi-telephone-outbound me-1"></i>Contáctanos
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>