<nav class="navbar navbar-expand-lg navbar-dark bg-secondary sticky-top shadow">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/images/logo-nav.webp" class="logo-navbar" alt="LOGO">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-white position-relative {{#if (eq active 'propiedades')}}active{{/if}}"
            href="/propiedades">
            Propiedades
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white position-relative {{#if (eq active 'agentes')}}active{{/if}}" href="/agentes">
            Agentes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white position-relative {{#if (eq active 'contacto')}}active{{/if}}" href="/contacto">
            Contacto
          </a>
        </li>

        <li class="nav-item ms-lg-3">
          <a class="nav-link text-white position-relative {{#if (eq active 'login')}}active{{/if}}" href="/login">
            <i class="bi bi-person-circle"></i>&nbsp;Entrar
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>