<h1>Login Administrador</h1>
<form action="/admin" method="post">
  <input type="text" name="usuario" placeholder="Usuario">
  <input type="password" name="password" placeholder="Contraseña">
  <button type="submit">Entrar</button>
</form>